<div class="container-fluid" style="padding-top:20px;">
    <div class="d-table pb-1">
      <div class="teamwork-tile card rounded d-inline-flex" (click)="openMonthlyObjective();">
        <div class="card-body">
          <h4 class="card-title">工作目标</h4>
        </div>
      </div>
      <div class="teamwork-tile card rounded d-inline-flex" (click)="openWorkPlans();">
        <div class="card-body">
          <h4 class="card-title">工作计划</h4>
        </div>
      </div>
      <div class="teamwork-tile card rounded d-inline-flex" (click)="openWeeklyReport();">
        <div class="card-body">
          <h4 class="card-title">工作反馈</h4>
        </div>
      </div>
    </div>
  </div>
  