<div class="container-fluid p-1 d-flex h-100 flex-column">
  <div class="d-flex mb-2">
    <div style="width:200px;">
      <h3 class="d-inline pl-3">工作目标</h3>
    </div>
    <div class="mx-auto"></div>
    <div class="mx-right">
      <button kendoButton class="mr-1" [primary]="true" routerLink="/detail">
        <i class="material-icons align-middle" style="font-size:18px">add</i> 新建
      </button>
      <button kendoButton class="mr-1">
        <i class="material-icons align-middle" style="font-size:18px">edit</i> 编辑
      </button>
      <button kendoButton>
        <i class="material-icons align-middle" style="font-size:18px">delete</i> 删除
      </button>
    </div>
  </div>
  <div class="d-flex mb-1">
    <div class="mr-auto">
      <kendo-dropdownlist style="width:272px;" [data]="listItems" [textField]="'text'" [valueField]="'value'">
        <ng-template kendoDropDownListValueTemplate let-dataItem>
          <img src="/assets/icons/{{ dataItem?.short }}.png" width="24" height="24" alt="" class="d-inline-block align-middle rounded-circle">
          <span class="pt-1 pl-1">{{ dataItem?.text }}</span>
        </ng-template>
        <ng-template kendoDropDownListItemTemplate let-dataItem>
          <img src="/assets/icons/{{ dataItem?.short }}.png" width="24" height="24" alt="" class="d-inline-block align-middle rounded-circle">
          <span class="pt-1 pl-1">{{ dataItem?.text }}</span>
        </ng-template>
      </kendo-dropdownlist>
    </div>
    <button kendoButton class="p-0 mr-1" style="width:28px;height:28px;">
      <i class="material-icons align-middle">filter_list</i>
    </button>
    <button kendoButton class="p-0 mr-1" style="width:28px;height:28px;">
      <i class="material-icons align-middle">view_compact</i>
    </button>
    <button kendoButton class="p-0 mr-1" style="width:28px;height:28px;">
      <i class="material-icons align-middle">view_comfy</i>
    </button>
    <button kendoButton class="p-0 mr-1" style="width:28px;height:28px;">
      <i class="material-icons align-middle">view_list</i>
    </button>
    <button kendoButton class="p-0 mr-1" style="width:28px;height:28px;">
      <i class="material-icons align-middle">event_note</i>
    </button>
    <button kendoButton class="p-0" style="width:28px;height:28px;">
      <i class="material-icons align-middle">show_chart</i>
    </button>
  </div>
  <div class="d-flex h-100">
    <div class="mr-1">
      <kendo-calendar [navigation]="false" [bottomView]="'year'" [topView]="'decade'"></kendo-calendar>
    </div>
    <div class="d-flex" style="flex:1;">
      <kendo-grid class="h-100" [resizable]="true" [pageable]="true" [pageSize]="10" [selectable]="true"
        [kendoGridSelectBy]="'id'" [selectedKeys]="[]" farrisBindingPath="/">
        <kendo-grid-column field="icon" title="" width="64">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <!-- <div class="d-flex flex-row"> -->
            <img src="/assets/icons/{{dataItem.owner.avatar}}" width="32" height="32" alt="" class="d-inline-block align-middle rounded-circle">
            <!-- </div>       -->
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="owner.firstName" title="负责人" [width]="120"></kendo-grid-column>
        <kendo-grid-column field="title" title="简述"></kendo-grid-column>
        <kendo-grid-column field="priority" title="优先级" [width]="80"></kendo-grid-column>
        <kendo-grid-column field="status" title="状态" [width]="80"></kendo-grid-column>
        <kendo-grid-column field="progress" title="进度" [width]="200"></kendo-grid-column>
      </kendo-grid>
    </div>

  </div>
</div>