<div class="container-fluid p-1 d-flex h-100 flex-column">
  <div class="d-flex mb-2">
    <div style="width:280px;">
      <h3 class="d-inline pl-3"><a routerLink="/">工作反馈</a> / 详情</h3>
    </div>
    <div class="mx-auto"></div>
    <div class="mx-right">      
      <button kendoButton class="mr-1">
        <i class="material-icons align-middle" style="font-size:18px">undo</i> 取消
      </button>
      <button kendoButton [primary]="true">
        <i class="material-icons align-middle" style="font-size:18px">save</i> 保存
      </button>
    </div>
  </div>
  <div class="d-flex h-100">
    <div class="w-100" style="overflow-y:auto;">
      <kendo-tabstrip class="w-100">
        <kendo-tabstrip-tab [title]="'基本信息'" [selected]="true">
          <ng-template kendoTabContent>
            <div class="d-flex flex-column">
              <form class="k-form p-2 col-12">
                <div class="row">
                  <div class="col-12">
                    <fieldset>
                      <legend>工作信息</legend>
                      <div class="row">
                        <div class="col-12">
                          <label class="k-form-field">
                            <span>简述
                              <span class="k-required">*</span>
                            </span>
                            <input class="k-textbox" placeholder="工作简述" />
                          </label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <label class="k-form-field">
                            <span>工作总结</span>
                            <textarea kendoTextArea style="width:100%;"></textarea>
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>                                
                <div class="row">
                  <div class="col-12">
                    <fieldset class="my-3">
                      <legend>工作产物</legend>
                      <kendo-grid [resizable]="true" [selectable]="true" [kendoGridSelectBy]="'id'" [selectedKeys]="[]">
                        <kendo-grid-column field="owner.firstName" title="类别" [width]="120"></kendo-grid-column>
                        <kendo-grid-column field="title" title="产物"></kendo-grid-column>
                        <kendo-grid-column field="status" title="完成状况" [width]="80"></kendo-grid-column>
                      </kendo-grid>
                    </fieldset>
                  </div>
                </div>                
              </form>
            </div>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'历史变更记录'">
          <ng-template kendoTabContent>

          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'附件'">
          <ng-template kendoTabContent>

          </ng-template>
        </kendo-tabstrip-tab>
      </kendo-tabstrip>
    </div>
  </div>
</div>